if { [info exists CHIPNAME] } {
	set _CHIPNAME $CHIPNAME
} else {
	set _CHIPNAME tc39x
}

if { [info exists OCDS_TAPID] } {
	set _OCDS_TAPID $CPU_SWD_TAPID
} else {
	set _OCDS_TAPID 0x20205083
}

# Create new ocds 
tas newtap $_CHIPNAME ocds -irlen 8 -expected-id $_OCDS_TAPID
ocds create tc3xx -chain-position $_CHIPNAME.ocds

# Create targets
target create $_CHIPNAME.cpu0 aurix -coreid 0 -ocds tc3xx
target create $_CHIPNAME.cpu1 aurix -coreid 1 -ocds tc3xx
target create $_CHIPNAME.cpu2 aurix -coreid 2 -ocds tc3xx
target create $_CHIPNAME.cpu3 aurix -coreid 3 -ocds tc3xx
target create $_CHIPNAME.cpu4 aurix -coreid 4 -ocds tc3xx
target create $_CHIPNAME.cpu5 aurix -coreid 5 -ocds tc3xx

# Create flash banks
flash bank pfls0 tc3xx 0x80000000 0x300000 0 0 $_CHIPNAME.cpu0
flash bank pfls1 tc3xx 0x80300000 0x300000 0 0 $_CHIPNAME.cpu1
flash bank pfls2 tc3xx 0x80600000 0x300000 0 0 $_CHIPNAME.cpu2
flash bank pfls3 tc3xx 0x80900000 0x300000 0 0 $_CHIPNAME.cpu3
flash bank pfls4 tc3xx 0x80C00000 0x300000 0 0 $_CHIPNAME.cpu4
flash bank pfls5 tc3xx 0x80F00000 0x300000 0 0 $_CHIPNAME.cpu5

targets $_CHIPNAME.cpu0