if { [info exists CHIPNAME] } {
	set _CHIPNAME $CHIPNAME
} else {
	set _CHIPNAME tc4dx
}

if { [info exists OCDS_TAPID] } {
	set _OCDS_TAPID $CPU_SWD_TAPID
} else {
	set _OCDS_TAPID 0x10225083
}

# Create new ocds 
tas newtap $_CHIPNAME ocds -irlen 8 -expected-id $_OCDS_TAPID
ocds create tc4xx -chain-position $_CHIPNAME.ocds

# Create targets
target create $_CHIPNAME.cpu0 aurix -coreid 0 -ocds tc4xx
target create $_CHIPNAME.cpu1 aurix -coreid 1 -ocds tc4xx
target create $_CHIPNAME.cpu2 aurix -coreid 2 -ocds tc4xx
target create $_CHIPNAME.cpu3 aurix -coreid 3 -ocds tc4xx
target create $_CHIPNAME.cpu4 aurix -coreid 4 -ocds tc4xx
target create $_CHIPNAME.cpu5 aurix -coreid 5 -ocds tc4xx
target create $_CHIPNAME.cpucs aurix -coreid 6 -ocds tc4xx

# Create flash banks
flash bank pfls00 tc3xx 0x80000000 0x200000 0 0 $_CHIPNAME.cpu0
flash bank pfls01 tc3xx 0x80200000 0x200000 0 0 $_CHIPNAME.cpu0
flash bank pfls10 tc3xx 0x80400000 0x200000 0 0 $_CHIPNAME.cpu1
flash bank pfls11 tc3xx 0x80600000 0x200000 0 0 $_CHIPNAME.cpu1
flash bank pfls20 tc3xx 0x80800000 0x100000 0 0 $_CHIPNAME.cpu2
flash bank pfls21 tc3xx 0x80900000 0x100000 0 0 $_CHIPNAME.cpu2
flash bank pfls30 tc3xx 0x80A00000 0x200000 0 0 $_CHIPNAME.cpu3
flash bank pfls31 tc3xx 0x80C00000 0x200000 0 0 $_CHIPNAME.cpu3
flash bank pfls40 tc3xx 0x80E00000 0x200000 0 0 $_CHIPNAME.cpu4
flash bank pfls41 tc3xx 0x81000000 0x200000 0 0 $_CHIPNAME.cpu4
flash bank pfls50 tc3xx 0x81200000 0x100000 0 0 $_CHIPNAME.cpu5
flash bank pfls51 tc3xx 0x81300000 0x100000 0 0 $_CHIPNAME.cpu5
flash bank pflscs tc3xx 0x84000000 0x100000 0 0 $_CHIPNAME.cpucs

targets $_CHIPNAME.cpu0